.navbar {
  background: linear-gradient(90deg, #b30000, #ff4d4d);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  color: white;
  font-family: "Poppins", sans-serif;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  text-decoration: underline;
  color: #fff8f8;
}
